<section id="main-frame">
  <router-outlet></router-outlet>
</section>
<footer>
  <div class="section-container">

      <div class="footer-parent-div">
          <span class="main-header">Get started in seconds</span>
          <div class="button-div">
              <button type="button" class="footer-btn orang-button no-bg">Request Demo</button>
              <button type="button" class="footer-btn orang-button white-bg">Start for free</button>
          </div>
      </div>

      <div class="footer-parent-div">
          <div></div>
          <div></div>
      </div>
      
  </div>
</footer>
