* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, li {
    text-decoration: none;
    list-style: none;
}

button {
    cursor: pointer;
}

body {
    overflow-x: hidden;
    background-image: url(/1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

:root {
    --monts: 'Montserrat', sans-serif;
    --nuns: 'Nunito Sans', sans-serif;
    --pops: 'Poppins', sans-serif;
}

/**** HEADER SECTION ****/
header {
    height: 10vh;
    display: flex;
    padding: 0 5rem;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: var(--monts);
    font-size: 1.6em;
    letter-spacing: 5px;
    font-weight: 400;
    color: white;
}

nav ul {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}

.nav-link {
    font-family: var(--monts);
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
}

ul li:nth-child(5) a {
    padding: 0.5rem 2rem;
    background-color: dodgerblue;
    border: 0 solid transparent;
    font-weight: 500;
    border-radius: 7px;
}

/**** HEADER SECTION ****/