<header>
  
</header>

<section id="main-frame">
  <router-outlet></router-outlet>
</section>

<footer>
  <div class="section-container">

      <div class="footer-parent-div">
          <span class="main-header">Get started in seconds</span>
          <div class="button-div">
              <button type="button" class="footer-btn orang-button no-bg">Request Demo</button>
              <button type="button" class="footer-btn orang-button white-bg">Start for free</button>
          </div>
      </div>

      <div class="footer-parent-div">
          <nav>
            <ul>
              <a href="/#" class="footer-link">Features</a>
              <a href="/#" class="footer-link">pricing</a>
              <a href="/#" class="footer-link">Contact us</a>
            </ul>
            <ul>
              <span class="para">
                ©2024 Marjella Marketing Media .inc
              </span>
            </ul>
          </nav>
      </div>
      
  </div>
</footer>
