* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a,li {
    list-style: none;
    text-decoration: none;
}

button {
    cursor: pointer;
}

:root {
    --pops: "Poppins", sans-serif;
}

body {
    background-color: #fcf1ec;
    font-family: var(--pops);
    color: #60301B;
}

.main-header {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 55px;
    letter-spacing: 2px;
}

.sub-header {
    font-size: 1.8em;
    font-weight: 500;
}

.inner-sub-header {
    font-size: 1em;
    font-weight: 500;
}

.orang-button {
    background-color: #f87e47;
    border: 0 solid transparent;
    border-radius: 100px;
    padding: 8px 25px;
    font-size: .9em;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
}

.para {
    font-size: 1.1em;
    font-weight: 400;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER STYLES */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #f87e47 0%, #e8672d 100%);
    padding: 5rem 2rem;
    width:100vw
}

footer .section-container {
    padding: 0;
    width: 100vw;
    max-width: 1200px;
}

footer .main-header {
    color: #ffe5d9;
}

.footer-parent-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.no-bg {
    background-color: transparent;
}

.white-bg {
    background-color: #ffe5d9;
    color: #f87e47;
}

/* FOOTER STYLES */