<section id="hero-section">
    <div class="section-container">

        <div class="section-content">
            <span class="main-header">A digital Office manager for pet care business</span>
            <span class="para">Mobile booking, invoicing, and client management software for the pet industry.</span>
            <button type="button" class="orang-button">Start for free</button>
        </div>

    </div>
</section>

<section id="default-section">

    <div class="section-container"> 

        <div class="left-side">
            <div class="img-side">
                <img src="/icons/home_client_contact.svg" alt="" >
            </div>
        </div>

        <div class="right-side">
            <div class="section-content">
                <span class="sub-header">Tools to launch, run, and grow a pet care business</span>
                <span class="para">Reduce admin time, get organized, & deliver the best possible service every time with MarjellaPet's all in one mobile platform.</span>
                <button type="button" class="orang-button">Learn More</button>
            </div>
        </div>

    </div>

</section>

<section id="default-section">
    <div class="section-container"> 
        
        <div class="left-side">
            <div class="section-content">
                <span class="sub-header">Easy Scheduling and Client Coordination</span>
                <span class="para">
                    Make managing your your business calendar simple with tools for 
                    streamlined scheduling and convenient communication, so customers 
                    and staff always have the information they need at their fingertips
                </span>
                <button type="button" class="orang-button">Learn More</button>
            </div>
        </div>

        <div class="right-side">
            <div class="img-side">
                <img src="/icons/easy_scheduling.svg" alt="" >
            </div>
        </div>

    </div>
</section>

<section id="cta-1">
    <div class="section-container">

        <div class="section-content">
            <span class="main-header">We make the hard parts of software easy.</span>
            <span class="para">
                With onboarding support, ongoing trainging and direct access to our hands-on 
                team the support you need is always at your finger tips. Whether you're starting 
                fresh and choosing a software partner for the first time, MarjellaPets team 
                will be your constant companion.
            </span>
            <button type="button" class="orang-button">Start for free</button>
        </div>

    </div>
</section>

<section id="default-section">

    <div class="section-container"> 

        <div class="left-side">
            <div class="img-side">
                <img src="/icons/invoicing.svg" alt="" >
            </div>
        </div>

        <div class="right-side">
            <div class="section-content">
                <span class="sub-header">Flexible invicing, payment, and policies</span>
                <span class="para">
                    Take any stress or awkwardness out of getting paid. Send invoices, accept payment, & enforce policies at the push of a button.
                </span>
                <button type="button" class="orang-button">Learn More</button>
            </div>
        </div>

    </div>

</section>

<section id="features-section">

    <div class="section-container">
        <span class="sub-header">Mobile tools for the <br>not-behind-a-desk professional</span>

        <div class="features-parent-div">
            <div class="feature">
                <img src="/icons/collar.svg" alt="" class="feature-icon">
                <span class="inner-sub-header">Walking and drop-ins</span>
            </div>
            <div class="feature">
                <img src="/icons/paw.svg" alt="" class="feature-icon">
                <span class="inner-sub-header">Pet sitting</span>
            </div>
            <div class="feature">
                <img src="/icons/dog_house.svg" alt="" class="feature-icon">
                <span class="inner-sub-header">In-home Boarding</span>
            </div>
            <div class="feature">
                <img src="/icons/collar_with_star.svg" alt="" class="feature-icon">
                <span class="inner-sub-header">Training</span>
            </div>
            <div class="feature">
                <img src="/icons/comb.svg" alt="" class="feature-icon">
                <span class="inner-sub-header">Grooming</span>
            </div>
        </div>
    </div>

</section>

<section id="cta-1">
    <div class="section-container">

        <div class="section-content">
            <span class="main-header">Real value delivered every day</span>
            <span class="para">
                Simplify the way you work without spending a paw and tail. 
                Technology to get organized and grow the business as the 
                demands on your time grow with it, designed with you in mind.
            </span>
            <button type="button" class="orang-button">Start for free</button>
        </div>

    </div>
</section>

<section id="features-section-2">

    <div class="section-container">
        <span class="sub-header">Build your business with technology <br>that works for you</span>

        <div class="features-parent-div">
            <div class="feature">
                <span class="inner-sub-header">Onboarding quickly</span>
                <span class="para">
                    A best in class technology experience with tools for 
                    onbaording, booking, payment, and more.
                </span>
            </div>
            <div class="feature">
                <span class="inner-sub-header">Connect with customers</span>
                <span class="para">
                    Focus your time where it matters most, streamline yur operations and autmate everything.
                </span>
            </div>
            <div class="feature">
                <span class="inner-sub-header">Work on the go</span>
                <span class="para">
                    Software built for hands on, on the go business. 
                    Everything you need, always in your pocket.
                </span>
            </div>
        </div>
    </div>

</section>