#hero-section {
    padding: 2rem;
}

.section-container {
    width: 100vw;
    max-width: 1200px;
    padding: 2rem;
    border: 0 solid transparent;
    border-radius: 16px
}

#hero-section .section-container {
    display: flex;
    justify-content: center;
    background-color: #ffe5d9;
    text-align: center;
}

#hero-section .section-container .para {
    max-width: 500px;
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
}

.left-side, .right-side {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* #defa-section-1 SECTION STYLES */

#default-section {
    min-height: 50vh;
    padding: 5rem 0;
}

#default-section .section-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
}

.img-side {
    background-color: #ffe5d9;
    padding: 2rem;
    border: 0 solid transparent;
    border-radius: 16px;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
}

#default-section .section-container .section-content {
    align-items: flex-start;
    max-width: 450px;
}

#default-section .section-container .section-content .para {
    font-size: .9em;
    font-weight: 400;
    letter-spacing: .5px;
}


/* #defa-section-1 SECTION STYLES */


/* CTA 1 SECTION STYLES */

#cta-1 {
    min-height: 50vh;
}

#cta-1 .section-container {
    display: flex;
    justify-content: center;
    background-color: #ffe5d9;
    text-align: center;
}

#cta-1 .section-container .section-content {
    max-width: 700px;
}

#cta-1 .section-container .section-content .para {
    font-size: .9em;
    font-weight: 400;
    letter-spacing: .5px;
}

/* CTA 1 SECTION STYLES */

/*  FEATURES SETION STYLE */

#features-section .section-container, #features-section-2 .section-container {
    padding: 0;
}

.features-parent-div {
    width: 100%;
    padding: 2.5rem 0 2rem;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
}

.feature {
    border: 2px dashed #60301B;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    gap: .8rem;
    width: 180px;
    height: 200px;
}

.feature-icon {
    width: 70px;
}

#features-section-2 .feature {
    width: 300px;
    height: 200px;
    align-items: flex-start;
    text-align: left;
}

#features-section-2 .para {
    font-size: .9em;
}

#features-section-2 .features-parent-div {
    justify-content: flex-start;
}


/*  FEATURES SETION STYLE */