<section id="hero-section">
    <div class="section-container">

        <div class="section-content">
            <span class="main-header">A digital Office manager for pet care business</span>
            <span class="para">Mobile booking, invoicing, and client management software for the pet industry.</span>
            <button type="button" class="orang-button">Start for free</button>
        </div>

    </div>
</section>

<section id="defa-section-1">
    
    <div class="section-container"> 

        <div class="img-side">

        </div>

        <div class="section-content">
            <span class="sub-header">Tools to launch, run, and grow a pet care business</span>
            <span class="para">Reduce admin time, get organized, & deliver the best possible service every time with MarjellaPet's all in one mobile platform.</span>
            <button type="button" class="orang-button">Learn More</button>
        </div>

    </div>

</section>

<section id="hero-section">
    <div class="section-container">

        <div class="section-content">
            <span class="sub-header">Easy Scheduling and Client coordination</span>
            <span class="para">
                Make managing your business calender simple with tools for streamlined 
                scheduling and convenient communication, so customers and staff always 
                have the informatino they need at thier fingertips.
            </span>
            <button type="button" class="orang-button">Learn More</button>
        </div>

    </div>
</section>

<section id="hero-section">
    <div class="section-container">

        <div class="section-content">
            <span class="sub-header">We make the hard parts of software easy.</span>
            <span class="para">
                With onboarding support, ongoing trainging and direct access to our hands-on 
                team the support you need is always at your finger tips. Whether you're starting 
                fresh and choosing a software partner for the first time, MarjellaPets team 
                will be your constant companion.
            </span>
            <button type="button" class="orang-button">Start for free</button>
        </div>

    </div>
</section>

<section id="hero-section">
    <div class="section-container">

        <div class="section-content">
            <span class="sub-header">Flexible invoicing, payment, and policies</span>
            <span class="para">
                Take any stress or awkwardness out of getting paid. 
                Send invoices, accept payment, & enforce policies 
                at the push of a button.
            </span>
            <button type="button" class="orang-button">Learn More</button>
        </div>

    </div>
</section>