#hero-section {
    padding: 2rem;
}

.section-container {
    width: 100vw;
    max-width: 1200px;
    padding: 2rem;
    border: 0 solid transparent;
    border-radius: 16px
}

#hero-section .section-container {
    display: flex;
    justify-content: center;
    background-color: #ffe5d9;
    text-align: center;
}

#hero-section .section-container .para {
    max-width: 500px;
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    max-width: 600px;
    
}